<h3 class="text-center">Hiker: <%= link_to @user.name, user_path(@user.id) %></h3>
<br/>
<br/>
<div class="profile">
<%= image_tag @user.profile_picture.url, id: "avatar", class: "img-thumbnail" %>

    <div class="basic_info">
        <br/>
        <br/>
        <p>Phone number: <%= @user.contact %></p>
        <p>Current Hometown:  <%= @user.hometown %></p>
        <p>Experience level: <%= @user.level%>
    </div> 

    <div class="socials_info">
        <br/>
        <br/>
        <p>E-mail address: <%= @user.email %></p>
        <p><%= link_to "Facebook", "#{@user.facebook_url}", target: "_blank" %> </p>
        <p><%= link_to "Instagram", "#{@user.instagram_url}" %> </p> 
    </div>

    <div class="activity">
        <p>Hosted Hikes : </p>
            <% if @user.created_hikes.count == 0 %>
            <p>None Yet</p>
        <% else %>
            <% @user.created_hikes.each do |hike| %>
                <li><%= link_to hike.name, hike_path(hike) %></li>
            <% end %>
        <% end %>
        <br/>
        <br/>
            <p>Attending Hikes : </p>
        <% if @user.hikes.count == 0 %>
            <p>None Yet</p>
        <% else %>
            <% @user.hikes.each do |hike| %>
                <li><%= link_to hike.name, hike_path(hike) %></li>
            <% end %>
        <% end %>    
    </div>
</div>

<div id="management">
<h6 class="manage, text-center">Manage your profile!
    <br/>
    <br/>
    <%= link_to "Edit Your Profile", edit_user_path(@user) %>
    <%= link_to "Delete Your Profile", user_path(@user), method: :delete %>
</div>