<h2 class="text-center">All about <%= link_to @user.name, user_path(@user.id) %>! </h2>
<br/>
<br/>
<div class="row">
    <div id="profile_photo" class="col-sm-4 col-sm-offset-1">
        <%= image_tag @user.profile_picture.url %>
        <p>Experience level: <%= @user.level%>
    </div>

    <div class="col-sm-6 col-sm-offset-1">
        <p>Phone number: <%= @user.contact %></p>
        <p>Current Hometown:  <%= @user.hometown %></p>
        <p>E-mail address: <%= @user.email %></p>
        <p><%= link_to "Facebook", "https://www.facebook.com/#{@user.facebook_url}", target: "_blank" %> </p>
        <p><%= link_to "Instagram", "https://www.instagram.com/#{@user.instagram_url}", target: "_blank" %> </p>
    </div> 
</div>
<div class="row">
    <hr>
</div>

<div class="row text-center">
    <div class="col-sm-4 col-sm-offset-1">
        <p>Hosted Hikes: </p>
            <% if @user.created_hikes.count == 0 %>
            <p>None Yet</p>
        <% else %>
            <% @user.created_hikes.each do |hike| %>
                <ul>
                    <li><%= link_to hike.name, hike_path(hike) %></li>
                </ul>
            <% end %>
        <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <p>Attending Hikes: </p>
        <% if @user.hikes.count == 0 %>
            <p>None Yet</p>
        <% else %>
            <% @user.hikes.each do |hike| %>
                <ul>
                    <li><%= link_to hike.name, hike_path(hike) %></li>
                </ul>
            <% end %>
        <% end %>    
    </div>
</div>

<div id="management">
<h6 class="manage, text-center">Manage your profile!
    <br/>
    <br/>
    <%= link_to "Edit Your Profile", edit_user_path(@user) %>
    <%= link_to "Delete Your Profile", user_path(@user), method: :delete %>
</div>