<h3 class="text-center">Update your event here! <%= link_to @hike.name, hike_path(@hike.id) %></h3>

    <div class="col-sm-6 col-sm-offset-3">
        <br/>
        <%= form_for [@user, @location, @hike] do |f| %>
        <%= f.label :name, "Name of Your Hike:" %>
        <%= f.text_field :name %>
        <%= f.label :date, "When are we hiking?" %>
        <%= f.date_field :date %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <br/>
        <br/>
        <%= f.submit "Update Your Hike!" %>
        <% end %>
    </div>