
<h2>Create your event!</h2>

<%= form_for [@user, @location, @hike] do |f| %>
    <div>
        <%= f.label :name, "Name of Your Hike:" %>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :date, "When are we hiking?" %>
        <%= f.date_field :date %>
    </div>
    <%= f.submit "Save New Hike" %>
<% end %>
