<h3 class="text-center">Upcoming Hike: <%= link_to @hike.name, hike_path(@hike.id) %></h3>
<br/>
<br/>

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="row">
            <div class="col-sm-4 my-labels">
                <p>Date of hike:  </p>
                <p>Length of hike:  </p>
                <p>Difficulty level: </p>
                <p>Hike organizer: </p>
                <p>Hike location: </p>
            </div>
            <div class="col-sm-6">
                <p><%= @hike.date %> </p>
                <p><%= @hike.location.length %> </p>
                <p><%=@hike.location.level %> </p>
                <p><%= link_to @hike.user.name, user_path(@hike.user)%></p></li>
                <p><%= link_to @hike.location.location_name, location_path(@hike.location)%></p>
            </div>
        </div>
    </div>
    <div class="col-sm-5" id="right-col">
        <p><img src="<%=@hike.location.main_picture%>" > </p>
        
    </div>
</div>
<hr>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1 text-center">
            <p class="label-color">Hikers Attending:</p>
            <ul> 
                <% @users.each do |user|%>
                    <li><%= link_to user.name, user_path(user) %></li> 
                <% end %>
            </ul>
    </div>
	<div class="col-sm-5 edit_links text-center">
        <% unless current_user.hikes.exists?(@hike.id) %>
            <p><%= link_to("Join This Hike", hike_signups_path(@hike), method: :post) %></p>
        <% end %>
        <p> <%= link_to "Edit Your Hike", edit_hike_path(@hike) %></p>
        <p> <%= link_to "Cancel Your Hike", hike_path(@hike), 
                                                    :data => {  :confirm=> "You sure?!?!", 
                                                                :method => "delete"} %></p>
    </div>
</div>                                                                