<h2 class="text-center">All about <%= link_to @location.location_name, location_path(@location.id) %>! </h2>
<br/>
<br/>
<div id="row">
    <div id="city_photo" class="col-sm-6 col-sm-offset-1">
        <%= image_tag @location.main_picture.url %>
        <p>Nearest big city:  <%= @location.nearest_city %></p>
    </div>
<div>

<div id="row">
    <div class="col-sm-3 col-sm-offset-1">
        <p>Address: <%= @location.location_address %></p>
        <p>Difficulty: <%= @location.level%>
        <p>Length: <%= @location.length%>
        <p><%= link_to "Google Map", "#{@location.google_map_link}" %> </p>
        <p>Upcoming Hikes here: </p> 
            <% @location.hikes.each do |hike| %>
            <li><%= link_to hike.name, hike_path(hike) %></li>
            <% end %>
    </div> 
</div>

<div id="row">
    <div id="photo_links" class="col-sm-12">
    <h4> <%= link_to "Create a New Hike", new_location_hike_path(@location) %></h4>
    </div>
</div>
