<!DOCTYPE html>
<html>
  <head>
    <title>Hiking With Friends</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>
  <nav>
      <% if current_user %>
        Welcome, <%= current_user.name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
          <%= link_to 'Log In', login_path %>
      <% else %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path %>
      <% end %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
</nav>

  <body>
    <%= yield %>
  </body>
  <footer>
  <ul class="nav nav-pills">
    <li role="home"> <%= link_to "Home",   '#' %></li>
    <li role="about"><%= link_to "About",   '#' %></li>
  </ul>
    </footer>
</html>
